body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/estetica-de-arcade.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #9c27b0;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

nav li:hover {
    transform: scale(1.2);
    transition: transform 0.1s ease;
}


body h1 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0px 0px 20px white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 70px;
    flex-direction: column;
}


form {
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 10px;
}

form input {
    width: 50%;
    height: 40px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
    
}

form textarea {
    bottom: 80px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

form input::placeholder {
    color: #666;
    font-weight: bold;
}

form button {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    position: relative;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
    transition: transform 0.2s;
    margin: 20px auto;
    display: block;
}

form button:hover {
    transform: translate(5px, 5px);
}

form#datos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form#datos input,
form#datos textarea,
form#datos button {
    margin-bottom: 20px;
}


.error {
    background-color: #ffd7d7;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);

}

.enviado{
    background-color: #cfffcf;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
}
